footer{
    background-color: rgb(43, 2, 0);
    height:80vh;
    color:rgb(245, 235, 220); 
}



.footerDiv{
    background-color: rgb(43, 2, 0);
    display: flex;
    flex-direction: row;
    --row-count:4;
    justify-content: space-evenly;
    padding:90px 120px;
}

.div1{
    display:flex;
    flex-direction: column;
}

div h3{
    font-size: 27px;
    margin-bottom:10px
}

div a{
    color:rgb(187, 163, 145);
    text-decoration: none;
    font-weight: 400;
    font-family: flames2;
    margin-bottom: 7px;
}

div a:hover{
   text-decoration: underline;
   text-decoration-color:rgb(187, 163, 145) ;
}

.footer2{
    display:grid;
}

.footer2{
    display: flex;
    justify-content:space-between;
    background-color: inherit;
    padding:50px 120px;
    padding-bottom: 80px;
}

.footerLeftSection{
    margin-left:60px;
}

.companyName{
    font-size: 28px;
    margin-bottom: 20px;
}

.footerTerms{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 20px;;
}

.footerTerms a{
    border-right:1px rgb(187, 163, 145) solid;
    padding-right: 10px;
    font-family: flames2;
    font-weight: 400;
    text-decoration: none;
}

.bk{
    padding-left:10px
}

.copyright{
    font-weight:400;
    font-family: flames2;
}

.fa-brands{
    font-size:28px;
    margin:0px 5px;
}

.fa-brands{
    position:relative;
    cursor:pointer;
}

.fa-brands .tooltip-text{
    position:absolute;
    background-color: white;
    font-family: flames2;
    font-weight:400;
    font-size: 14px;
    color:black;
    width:fit-content;
    white-space:nowrap;
    border:1px solid white;
    border-radius:3px;
    padding:3px 7px;
    top:40px;
    left:10px;
    opacity: 0;
    transition:0.5s;
    z-index:20;
    pointer-events: none;
}

.fa-brands:hover .tooltip-text{
    opacity:1;
}

.footerRightSection{
    display: flex;
    justify-content:flex-start;
}

.footerRightSection a{
    text-decoration: none;
    color:white;
}



@media screen and (min-width: 300px) and (max-width: 1000px){
    .body{
        padding:0;
        margin:0;
        overflow-x: hidden;
    }
    header{
        justify-content: space-evenly;
        width:100%;
        height: 100px;;
        align-items: center;
    }
    
    .leftSection a{
        inherits: none;
        display: none;
    }

    .fa-bars{
        display: block;
        font-size: 45px;
    }

    .middleSection{
        margin-left: 0;
    }

    .middleSection img{
        width:130px;
        height:130px;
    }

    .fa-caret-down{
        display: none;
    }

    .signUpHeaderButton{
        display:block;
        font-size: 35px;
        padding: 12px 40px;
    }

    .rightSection div, .fa-location-dot, .selectLocation, .priceHeaderButton{
        display: none;
    }

    .content{
        display: flex;
        flex-direction: column;
        flex:1;
        overflow-x: hidden;
        margin:0;
        align-items: center;
    }
    .content1{
        width: 90vw;
        height:fit-content;
        margin-bottom: 35px;
    }

    .content img{
        width:100%;
        height:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
    }

    .contentPicture{
        width:100%;
        height:400px;
    }
    .contentDescription{
        width:95%;
        display: flex;
        flex-direction: column;
        height:max-content;
    }
    .contentDescriptionTitle h4{
        margin-left: 10px;
    }
    .contentDescriptionTitle p{
        width:100%;
        font-size:14px;
        margin-left: 10px;
    }
    .contentDescriptionButton button{
        height: max-content;
        padding: 15px 23px;
        border-radius: 33px;
        margin: 10px 0px 10px 10px;
    }
    .signUpButton{
        font-size: 33px;
    }

    .terms{
        font-size: inherit;
    }
    .phoneAppPage{
        display: flex;
        flex-direction: column-reverse;
        width:100%;
        height: fit-content;
    }
    .phoneAppContainer{
        display: flex;
        justify-content:space-around;
    }
    .phoneApp{
        position: static;
        height:750px;
        width:550px;
    }
    .phoneAppDescription{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .phoneAppDescription h3{
        text-align: center;
    }
    .downloadImages{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .appleImage{
        width:380px;
    }
    .appleImage img{
        height:100%
    }
    .androidImage{
        width:370px;
    }
    .subContent{
        width:100%;
        font-size: 12px;
        padding: 50px 10px;
    }
    .footerDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div h3{
        font-size: 35px;
    }
    div a{
        font-size:25px
    }
    .footer2{
        display: flex;
        flex-direction: column;
    }
    .footerLeftSection{
        margin-left: 0px;
        margin-bottom: 35px;
    }
    .companyName{
        font-size: 35px;
    }
    .copyright{
        font-size: 23px;
        text-decoration: underline;
    }
    .fa-brands{
        font-size:32px;
        margin:0px 15px;
    }
    .fa-square-facebook{
        margin-left: 0px;
    }
}